# Strings

In [1]:
print("This is a string")              # used for string in a single line
print()

print('This is a string')              # used for string in a single line
print()

print(""" This is a string having     
a new line 

""")                  # used for string having multple lines (Also known as doc string in top of a file)

print('''This is a string having  
a new ling''')                   # used for string having multiple lines

This is a string

This is a string

 This is a string having
a new line


This is a string having
a new ling

# String Formatting

In [2]:
text = """
Hello {}

Thank you for registering. Welcome!

Regards
-Ribesh

"""

print(text.format("Samjhana"))
print()
print(text.format("Samyam"))

Hello Samjhana

Thank you for registering. Welcome!

Regards
-Ribesh




Hello Samyam

Thank you for registering. Welcome!

Regards
-Ribesh

By default the string is replaced in sequence

In [3]:
text = """
Hello {}

Thank you for registering. Welcome!

Regards
{}

"""

print(text.format("Samjhana","Team A"))
print()
print(text.format("Samyam", "Team B"))

Hello Samjhana

Thank you for registering. Welcome!

Regards
Team A




Hello Samyam

Thank you for registering. Welcome!

Regards
Team B

We can also replace the string according to index

In [4]:
#Indexing

text = """
Hello {0}

Thank you for registering. Welcome!

{2}                                                         
{1}

"""

print(text.format("Samjhana","Team A","Regards"))
print()
print(text.format("Samyam", "Team B","Best Wishes"))

Hello Samjhana

Thank you for registering. Welcome!

Regards
Team A




Hello Samyam

Thank you for registering. Welcome!

Best Wishes
Team B

In [5]:
text = """
Hello {name}

Thank you for registering. Welcome!

{greeting}                                                         
{by}

"""

print(text.format(name="Samjhana",by="Team A",greeting="Regards"))
print()
print(text.format(name="Samyam", by="Team B", greeting="Best Wishes"))

Hello Samjhana

Thank you for registering. Welcome!

Regards
Team A




Hello Samyam

Thank you for registering. Welcome!

Best Wishes
Team B

# String Methods

In [6]:
city = "Kathmandu"
print("Length:",len(city))

Length: 9

In [7]:
print("Byte:",city.encode())         # convert into Byte

Byte: b'Kathmandu'

In [8]:
caps = city.upper()
print("Capital: ",caps)

Capital:  KATHMANDU

In [9]:
"1".isdigit()

True

In [10]:
"a".isdigit()

False

In [11]:
dir(city)     #functions that can be used
              # functions that start with __ are internal

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Collection Methods

In [22]:
numbers = [1,2,3,4,5,6,7,9]
numbers

[1, 2, 3, 4, 5, 6, 7, 9]

In [23]:
numbers.append(10)
print("List:",numbers)
print("Lenght:",len(numbers))

List: [1, 2, 3, 4, 5, 6, 7, 9, 10]
Lenght: 9

In [25]:
print(numbers.pop())
print(numbers)

10
[1, 2, 3, 4, 5, 6, 7, 9]

In [26]:
print(numbers.pop(0))
print(numbers)

1
[2, 3, 4, 5, 6, 7, 9]

In [27]:
dir(numbers)    #functions that can be used
                # functions that start with __ are internal

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
print(numbers.insert(0,202))
print(numbers)

None
[202, 202, 2, 3, 4, 5, 6, 7, 9]

In [30]:
print(numbers.remove(5))
print(numbers)

None
[202, 202, 2, 3, 4, 6, 7, 9]

In [38]:
rev=[]
rev = numbers.reverse()
print(numbers)

[202, 202, 2, 3, 4, 6, 7, 9]

Tuple Numbers

In [40]:
tup_numbers = tuple(numbers)
print("Tuple:",tup_numbers)

Tuple: (202, 202, 2, 3, 4, 6, 7, 9)

In [42]:
print("Count number 6   =", tup_numbers.count(6))

Count number 6   = 1

Change Values

In [45]:
numbers[2] = 22
print ("List", numbers)

List [202, 202, 22, 3, 4, 6, 7, 9]

In [47]:
#tup_numbersp[2] = 22     #immutable
print("Tuple", tup_numbers)

Tuple (202, 202, 2, 3, 4, 6, 7, 9)

String are also immutable

In [49]:
#city[2] = "G"

# Dictionary

In [53]:
student = {"name":"Ribesh Shrestha", "Age" : 22}
print(student["name"])
print(student["Age"])

Ribesh Shrestha
22

In [54]:
# Replace the values

student["name"] = "Ganesh Lal"
student["Age"] = 20
print(student["name"])
print(student["Age"])

Ganesh Lal
20

In [55]:
dir(student)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [57]:
# Add new keys

student["Class"] = 10
print(student)

{'name': 'Ganesh Lal', 'Age': 20, 'Class': 10}

# Sets

In [58]:
set_a = {2,2,4,5,7,1,9}
set_b = {1,1,5,6}
print("SET A:", set_a)
print("SET B:",set_b)

SET A: {1, 2, 4, 5, 7, 9}
SET B: {1, 5, 6}

In [59]:
dir(set_a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [68]:
set_b.add(4)

In [69]:
set_b

{1, 4, 5, 6, 11, 1000}

In [71]:
print(set_a)
print(set_b)
print(set_a.intersection(set_b))

{1, 2, 4, 5, 7, 9}
{1, 4, 5, 6, 1000, 11}
{1, 4, 5}

Bitwoste operator

In [76]:
print(set_a & set_b)                # intersection
print(set_a - set_b)                # Difference
print(set_a | set_b)                # union

{1, 4, 5}
{9, 2, 7}
{1, 2, 4, 5, 6, 7, 1000, 9, 11}